@use '../base/variables' as *;
@use '../base/mixins' as *;

.container_light {
  // max-width: $desktop;
  // max-width: 100%;
  // margin: 0 auto;

  background-image: $Light_Background_Mobile_Image;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $Background_body_light;
  background-position-x: center;

  @include mobile {
    background-image: $Light_Background_Desktop_Image;
    background-size: auto;
  }

  @include desktop {
    background-size: contain;
  }
}

.container_dark {
  background-image: $Dark_Background_Mobile_Image;
  background-color: $Very_Dark_Blue;

  @include mobile {
    background-image: $Dark_Background_Desktop_Image;
  }
}

.flex_app {
  height: 100%;
  min-height: 97vh;
  
  display: flex;
  justify-content: center;
}

.card_app {
  width: 58rem;
  padding: 1.5rem 2rem;
  // height: 100%;
  // min-height: 40rem;
  // max-height: 47rem;
}