@use '../base/variables' as v;

.todo_complete_input {
  background-color: v.$Bright_Blue;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  user-select: none;
}