@use '../base/variables' as *;

.check {
  width: 2rem;
  height: 2rem;

  // margin: 0 .6rem;
  margin-left: 1rem;

  border-radius: 50%;
  border: 1px solid $Very_Light_Grayish_Blue;

  cursor: pointer;
  user-select: none;
}

.check_hover {
  &:hover {
    background: 
      linear-gradient($LightTheme_Card_Background, $LightTheme_Card_Background) padding-box,
      $Check_Background border-box;
    border: 1px solid transparent;
  }
}

.check_completed {
  border: none;
  background: $Check_Background;
}

.imgCheck_no {
  width: 2rem;
  height: 2rem;
}

.imgCheck {
  background-image: url('../../images/icon-check.svg');
  background-size:1rem;
  background-repeat: no-repeat;
  background-position: center;
}