@use '../base/variables' as v;

.check {
  width: 2rem;
  height: 2rem;

  border-radius: 50%;
  border: 1px solid v.$Very_Light_Grayish_Blue;

  cursor: pointer;
  user-select: none;
}

.check_hover {
  &:hover {
    background: 
      linear-gradient(v.$LightTheme_Background, v.$LightTheme_Background) padding-box,
      v.$Check_Background border-box;
    border: 1px solid transparent;
  }
}

.check_completed {
  border: none;
  background: v.$Check_Background;
}

.imgCheck {
  width: 2rem;
  height: 2rem;

  background-image: url('../../images/icon-check.svg');
  background-size:1rem;
  background-repeat: no-repeat;
  background-position: center;
}