@use '../base/variables' as *;
@use '../base/mixins' as *;

.todo_features_container {
  position: relative;
}

// Button: Clear Completed
// Text: Items Left
.features_aditional_light {

  display: flex;
  justify-content: space-between;

  font-size: 1.4rem;
  
  color: $Dark_Grayish_Blue;
  background-color: $LightTheme_Card_Background;
  
  border-radius: 0px 0px 5px 5px;

  padding: 1.5rem 2rem;

  @include mobile {
    padding: 1.8rem 1rem;
  }

  button {

    color: $Dark_Grayish_Blue;

    &:hover {
      color: $Very_Dark_Grayish_Blue;
    }
  }
}

.features_aditional_dark {

  background-color: $DarkTheme_Card_Background;

    button {

    color: $Dark_Grayish_Blue;
    
    &:hover {
      color: $Light_Grayish_Blue;
    }
  }
}



// Buttons: All | Active | Completed
.features_current_light {

  margin-top: 2rem;

  display: flex;
  justify-content: center;

  background-color: $LightTheme_Card_Background;
  border-radius: .5rem;

  box-shadow: 0px 15px 34px -16px rgba(0,0,0,0.75);
  // box-shadow: 0px 50px 75px -15px rgba(0,0,0,0.2);

  @include mobile {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    margin: 0;

    background-color: transparent;
  }

  button {

    padding: 1rem;
    color: $Dark_Grayish_Blue;

    font-size: 1.5rem;
    font-weight: bold;

    @include mobile {
      padding: 1rem .5rem;
    }

    &:hover {
      color: $Very_Dark_Grayish_Blue;
    }
    
    &.button_actived {
      color: $Bright_Blue;
    }
  }
}

.features_current_dark {

  background-color: $DarkTheme_Card_Background;

  button {

    &:hover {
      color: $Light_Grayish_Blue;
    }

    &.button_actived {
      color: $Bright_Blue;
    }
  }
}