@use '../base/variables' as *;
@use '../base/mixins' as *;

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    margin-top: 2.4rem;
  }
}

.header_h1{
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding-top: 1rem;
  color: white;

  @include mobile {
    font-size: 4rem;
    letter-spacing: 1.5rem;
  }
}

.header_theme {
  cursor: pointer;
  user-select: none;
}

.icon_light_theme {
  background-image: url('../../images/icon-moon.svg');
  background-size: 2rem;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;

  @include desktop {
    background-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.icon_dark_theme {
  background-image: url('../../images/icon-sun.svg');
}