@use '../base/variables' as v;

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_h1{
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding-top: 1rem;
  color: white;
}

.header_theme {
  cursor: pointer;
  user-select: none;
}

.icon_light_theme {
  background-image: url('../../images/icon-moon.svg');
  background-size: 2rem;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.icon_dark_theme {
  background-image: url('../../images/icon-sun.svg');
}