@use '../base/variables' as *;
@use '../base/mixins' as *;

.todo_form {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;

  background-color: $LightTheme_Card_Background;
  border-radius: 5px;
  
  margin-top: 1rem;
  margin-bottom: 2rem;

  padding: 1rem;

  @include mobile {
    padding: 1.8rem;
  }
}

.todo_form_dark {
  background-color: $DarkTheme_Card_Background;
}

.todo_input_text {
  width: 100%;

  font-size: 1.6rem;

  caret-color: $Bright_Blue;
  padding-bottom: .3rem;

  background-color: transparent;
  border: none;
  outline: none;
  color: $Very_Dark_Grayish_Blue;
  padding-top: .8rem;
  cursor: pointer;

  &::placeholder {
    color: $Light_Grayish_Blue;
  }
}

.todo_input_text_dark {
  color: $Light_Grayish_Blue;

  &::placeholder {
    color: $Dark_Grayish_Blue;
  }
}