@use 'variables' as *;

/** Media Queries **/
@mixin mobile {
    @media (min-width: $mobile) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}